.meow {
    border-bottom: 1px solid black;
    min-height: 60px;
    padding: 10px;
    background-color: black;
    color: #1c3e57;
  }
  .outer-container {
	background-color: black
}

/* .header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
  background-color: black;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
  background-color: black;
} */